<div class="post-container">
  <div class="post-title">
    <h2>{{title}}</h2>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <h3 class="description">{{description}}</h3>
  
  {{#if comments.length}}
  {{#each comments as |comment|}}
    <div class="comment-title">
      <p>-{{comment.user.name}} replied on {{format_date comment.date_created}}:</p>
    </div>
    <h3 class="description">{{comment.description}}</h3>
  {{/each}}
  {{/if}}

  <div class="post-container">
    <form class="comment-form">
      <div>
        <input type="hidden" name="post-id" value="{{id}}" />
        <label for="comment-desc">Comment here!</label>
        <input class="comment-description" id="comment-desc" name="comment-desc"></input>
      </div>
      <div>
        <button class="submit-button" type="submit">Comment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>